<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav docs-sidenav">
          <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
          </li>
  
          <li<%= sidebar_current("docs-aci-index") %>>
          <a href="/docs/providers/aci/index.html">ACI Provider</a>
          </li>
  

  
          <li<%= sidebar_current("docs-aci-datasource") %>>
          <a href="#">Data Resources</a>
                  <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-aci-data-source-cloud_applicationcontainer") %>>
                        <a href="/docs/providers/aci/d/cloudapp.html">aci_cloud_applicationcontainer</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_aws_provider") %>>
                        <a href="/docs/providers/aci/d/cloudawsprovider.html">aci_cloud_aws_provider</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-autonomous_system_profile") %>>
                        <a href="/docs/providers/aci/d/cloudbgpasp.html">aci_autonomous_system_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_cidr_pool") %>>
                        <a href="/docs/providers/aci/d/cloudcidr.html">aci_cloud_cidr_pool</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_context_profile") %>>
                        <a href="/docs/providers/aci/d/cloudctxprofile.html">aci_cloud_context_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_domain_profile") %>>
                        <a href="/docs/providers/aci/d/clouddomp.html">aci_cloud_domain_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_e_pg") %>>
                        <a href="/docs/providers/aci/d/cloudepg.html">aci_cloud_e_pg</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_endpoint_selector") %>>
                        <a href="/docs/providers/aci/d/cloudepselector.html">aci_cloud_endpoint_selector</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_external_e_pg") %>>
                        <a href="/docs/providers/aci/d/cloudextepg.html">aci_cloud_external_e_pg</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_endpoint_selectorfor_external_e_pgs") %>>
                        <a href="/docs/providers/aci/d/cloudextepselector.html">aci_cloud_endpoint_selectorfor_external_e_pgs</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_provider_profile") %>>
                        <a href="/docs/providers/aci/d/cloudprovp.html">aci_cloud_provider_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_providers_region") %>>
                        <a href="/docs/providers/aci/d/cloudregion.html">aci_cloud_providers_region</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_subnet") %>>
                        <a href="/docs/providers/aci/d/cloudsubnet.html">aci_cloud_subnet</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-cloud_availability_zone") %>>
                        <a href="/docs/providers/aci/d/cloudzone.html">aci_cloud_availability_zone</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-interface_fc_policy") %>>
                        <a href="/docs/providers/aci/d/fcifpol.html">aci_app_profileaci_interface_fc_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-application_epg") %>>
                        <a href="/docs/providers/aci/d/fvaepg.html">aci_application_epg</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-application_profile") %>>
                        <a href="/docs/providers/aci/d/fvap.html">aci_application_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-bridge_domain") %>>
                        <a href="/docs/providers/aci/d/fvbd.html">aci_bridge_domain</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-vrf") %>>
                        <a href="/docs/providers/aci/d/fvctx.html">aci_vrf</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-end_point_retention_policy") %>>
                        <a href="/docs/providers/aci/d/fvepretpol.html">aci_end_point_retention_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-subnet") %>>
                        <a href="/docs/providers/aci/d/fvsubnet.html">aci_subnet</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-tenant") %>>
                        <a href="/docs/providers/aci/d/fvtenant.html">aci_tenant</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-ap") %>>
                        <a href="/docs/providers/aci/d/infraaccbndlgrp.html">aci_pcvpc_interface_policy_group</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-leaf_access_port_policy_group") %>>
                        <a href="/docs/providers/aci/d/infraaccportgrp.html">aci_leaf_access_port_policy_group</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-leaf_interface_profile") %>>
                      <a href="/docs/providers/aci/d/infraaccportp.html">aci_leaf_interface_profile</a>
                      </li> 
                      <li<%= sidebar_current("docs-aci-data-source-attachable_access_entity_profile") %>>
                        <a href="/docs/providers/aci/d/infraattentityp.html">aci_attachable_access_entity_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-access_port_selector") %>>
                        <a href="/docs/providers/aci/d/infrahports.html">aci_access_port_selector</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-leaf_profile") %>>
                        <a href="/docs/providers/aci/d/infranodep.html">aci_leaf_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-access_port_block") %>>
                        <a href="/docs/providers/aci/d/infraportblk.html">aci_access_port_block</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-vlan_encapsulationfor_vxlan_traffic") %>>
                        <a href="/docs/providers/aci/d/infraprovacc.html">aci_vlan_encapsulationfor_vxlan_traffic</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-l2_interface_policy") %>>
                        <a href="/docs/providers/aci/d/l2ifpol.html">aci_l2_interface_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-port_security_policy") %>>
                        <a href="/docs/providers/aci/d/l2portsecuritypol.html">aci_port_security_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-external_network_instance_profile") %>>
                        <a href="/docs/providers/aci/d/l3extinstp.html">aci_external_network_instance_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-logical_interface_profile") %>>
                        <a href="/docs/providers/aci/d/l3extlifp.html">aci_logical_interface_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-logical_node_profile") %>>
                        <a href="/docs/providers/aci/d/l3extlnodep.html">aci_logical_node_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-l3_outside") %>>
                        <a href="/docs/providers/aci/d/l3extout.html">aci_l3_outside</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-subnet") %>>
                        <a href="/docs/providers/aci/d/l3extsubnet.html">aci_l3_ext_subnet</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-lacp_policy") %>>
                        <a href="/docs/providers/aci/d/lacplagpol.html">aci_lacp_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-lldp_interface_policy") %>>
                        <a href="/docs/providers/aci/d/lldpifpol.html">aci_lldp_interface_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-miscabling_protocol_interface_policy") %>>
                        <a href="/docs/providers/aci/d/mcpifpol.html">aci_miscabling_protocol_interface_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-ospf_interface_policy") %>>
                        <a href="/docs/providers/aci/d/ospfifpol.html">aci_ospf_interface_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-vmm_domain") %>>
                        <a href="/docs/providers/aci/d/vmmdomp.html">aci_vmm_domain</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-any") %>>
                        <a href="/docs/providers/aci/d/vzany.html">aci_any</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-contract") %>>
                        <a href="/docs/providers/aci/d/vzbrcp.html">aci_contract</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-filter_entry") %>>
                        <a href="/docs/providers/aci/d/vzentry.html">aci_filter_entry</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-filter") %>>
                        <a href="/docs/providers/aci/d/vzfilter.html">aci_filter</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-data-source-contract_subject") %>>
                        <a href="/docs/providers/aci/d/vzsubj.html">aci_contract_subject</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-index") %>>
                        <a href="/docs/providers/aci/index.html">ACI</a>
                      </li>
                     
                  </ul>
          </li>
          <li<%= sidebar_current("docs-aci-resource") %>>
          <a href="#">Resources</a>
                  <ul class="nav nav-visible">
                      <li<%= sidebar_current("docs-aci-resource-cloud_applicationcontainer") %>>
                        <a href="/docs/providers/aci/r/cloudapp.html">aci_cloud_applicationcontainer</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_aws_provider") %>>
                        <a href="/docs/providers/aci/r/cloudawsprovider.html">aci_cloud_aws_provider</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-autonomous_system_profile") %>>
                        <a href="/docs/providers/aci/r/cloudbgpasp.html">aci_autonomous_system_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_cidr_pool") %>>
                        <a href="/docs/providers/aci/r/cloudcidr.html">aci_cloud_cidr_pool</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_context_profile") %>>
                        <a href="/docs/providers/aci/r/cloudctxprofile.html">aci_cloud_context_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_domain_profile") %>>
                        <a href="/docs/providers/aci/r/clouddomp.html">aci_cloud_domain_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_e_pg") %>>
                        <a href="/docs/providers/aci/r/cloudepg.html">aci_cloud_e_pg</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_endpoint_selector") %>>
                        <a href="/docs/providers/aci/r/cloudepselector.html">aci_cloud_endpoint_selector</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_external_e_pg") %>>
                        <a href="/docs/providers/aci/r/cloudextepg.html">aci_cloud_external_e_pg</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_endpoint_selectorfor_external_e_pgs") %>>
                        <a href="/docs/providers/aci/r/cloudextepselector.html">aci_cloud_endpoint_selectorfor_external_e_pgs</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_provider_profile") %>>
                        <a href="/docs/providers/aci/r/cloudprovp.html">aci_cloud_provider_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_providers_region") %>>
                        <a href="/docs/providers/aci/r/cloudregion.html">aci_cloud_providers_region</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_subnet") %>>
                        <a href="/docs/providers/aci/r/cloudsubnet.html">aci_cloud_subnet</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-cloud_availability_zone") %>>
                        <a href="/docs/providers/aci/r/cloudzone.html">aci_cloud_availability_zone</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-interface_fc_policy") %>>
                        <a href="/docs/providers/aci/r/fcifpol.html">aci_app_profileaci_interface_fc_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-application_epg") %>>
                        <a href="/docs/providers/aci/r/fvaepg.html">aci_application_epg</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-application_profile") %>>
                        <a href="/docs/providers/aci/r/fvap.html">aci_application_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-bridge_domain") %>>
                        <a href="/docs/providers/aci/r/fvbd.html">aci_bridge_domain</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-vrf") %>>
                        <a href="/docs/providers/aci/r/fvctx.html">aci_vrf</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-end_point_retention_policy") %>>
                        <a href="/docs/providers/aci/r/fvepretpol.html">aci_end_point_retention_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-subnet") %>>
                        <a href="/docs/providers/aci/r/fvsubnet.html">aci_subnet</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-tenant") %>>
                        <a href="/docs/providers/aci/r/fvtenant.html">aci_tenant</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-ap") %>>
                        <a href="/docs/providers/aci/r/infraaccbndlgrp.html">aci_pcvpc_interface_policy_group</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-leaf_access_port_policy_group") %>>
                        <a href="/docs/providers/aci/r/infraaccportgrp.html">aci_leaf_access_port_policy_group</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-leaf_interface_profile") %>>
                      <a href="/docs/providers/aci/r/infraaccportp.html">aci_leaf_interface_profile</a>
                      </li> 
                      <li<%= sidebar_current("docs-aci-resource-attachable_access_entity_profile") %>>
                        <a href="/docs/providers/aci/r/infraattentityp.html">aci_attachable_access_entity_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-access_port_selector") %>>
                        <a href="/docs/providers/aci/r/infrahports.html">aci_access_port_selector</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-leaf_profile") %>>
                        <a href="/docs/providers/aci/r/infranodep.html">aci_leaf_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-access_port_block") %>>
                        <a href="/docs/providers/aci/r/infraportblk.html">aci_access_port_block</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-vlan_encapsulationfor_vxlan_traffic") %>>
                        <a href="/docs/providers/aci/r/infraprovacc.html">aci_vlan_encapsulationfor_vxlan_traffic</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-l2_interface_policy") %>>
                        <a href="/docs/providers/aci/r/l2ifpol.html">aci_l2_interface_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-port_security_policy") %>>
                        <a href="/docs/providers/aci/r/l2portsecuritypol.html">aci_port_security_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-external_network_instance_profile") %>>
                        <a href="/docs/providers/aci/r/l3extinstp.html">aci_external_network_instance_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-logical_interface_profile") %>>
                        <a href="/docs/providers/aci/r/l3extlifp.html">aci_logical_interface_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-logical_node_profile") %>>
                        <a href="/docs/providers/aci/r/l3extlnodep.html">aci_logical_node_profile</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-l3_outside") %>>
                        <a href="/docs/providers/aci/r/l3extout.html">aci_l3_outside</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-subnet") %>>
                        <a href="/docs/providers/aci/r/l3extsubnet.html">aci_l3_ext_subnet</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-lacp_policy") %>>
                        <a href="/docs/providers/aci/r/lacplagpol.html">aci_lacp_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-lldp_interface_policy") %>>
                        <a href="/docs/providers/aci/r/lldpifpol.html">aci_lldp_interface_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-miscabling_protocol_interface_policy") %>>
                        <a href="/docs/providers/aci/r/mcpifpol.html">aci_miscabling_protocol_interface_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-ospf_interface_policy") %>>
                        <a href="/docs/providers/aci/r/ospfifpol.html">aci_ospf_interface_policy</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-vmm_domain") %>>
                        <a href="/docs/providers/aci/r/vmmdomp.html">aci_vmm_domain</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-any") %>>
                        <a href="/docs/providers/aci/r/vzany.html">aci_any</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-contract") %>>
                        <a href="/docs/providers/aci/r/vzbrcp.html">aci_contract</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-filter_entry") %>>
                        <a href="/docs/providers/aci/r/vzentry.html">aci_filter_entry</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-filter") %>>
                        <a href="/docs/providers/aci/r/vzfilter.html">aci_filter</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-resource-contract_subject") %>>
                        <a href="/docs/providers/aci/r/vzsubj.html">aci_contract_subject</a>
                      </li>
                      <li<%= sidebar_current("docs-aci-index") %>>
                        <a href="/docs/providers/aci/index.html">ACI</a>
                      </li>
                     
                  </ul>
          </li>
        </ul>
      </div>
    <% end %>
  
    <%= yield %>
    <% end %>
